@import "bootstrap/bootstrap.less";

div.container { margin-top: 20px; }

div.header {
	padding: @baseline; margin-bottom: @baseline; .border-radius(6px); background-color: #f5f5f5;		
	h1 {
		margin-bottom: 12px; font-size: 60px; line-height: 1; letter-spacing: -2px;
		small { display: block; line-height: 1; letter-spacing: 0; }
	}
	h2 { font-size: 30px; letter-spacing: -1px; line-height: @baseline * 2; }
	ol {
		margin-bottom: 0;
		li { font-size: 20px; line-height: @baseline * 2; }
	}
	a#print { cursor: pointer; }
}

table#calendar {
	@border: 1px solid #ddd;
	border-bottom: @border;
	tr, td { border-bottom: none; }
	td { width: auto; padding: 0px; }
	thead {
		th.month { padding-left: 0px; }
		th.date { text-align: center; }
		th.comments { padding-left: 5px; }
	}
	tbody {
		td.month { width: 70px; border-right: @border; }
		td.date {
			width: 30px; height: 30px; border-right: @border;
			text-align: center; cursor: pointer;
			&.weekend { background-color: #f5f5f5; }
			&.marked { font-weight: bold; color: white; background-color: lighten(@red, 25); }
		}
		td.comments { 
			padding-left: 5px;
			input {
				width: 100%; border: dotted #ddd; border-width: 0 0 1px 0;
				font-family: "Monaco", Courier New, monospace; font-size: 11px;
			}
		}
	}
}

div.buttons {
	text-align: center;
	a { cursor: pointer; }
	.btn { margin-right: 20px; }
	a#less.disabled {
		cursor: text; color: lightgrey;
		&:hover { color: lightgrey; text-decoration: none; }
	}
}

footer { 
	text-align: right;
}
